{
    "globals": {
        "cy": false,
        "Cypress": false,
        "context": false,
        "describe": false,
        "it": false,
        "expect": false,
        "beforeEach": false
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "array-bracket-spacing": [
            "error",
            "never"
        ],
        "block-spacing": [
            "error",
            "never"
        ],
        "brace-style": [
            "error",
            "1tbs",
            {"allowSingleLine": false}
        ],
        "camelcase": [
            "error",
            {"properties": "always"}
        ],
        "comma-dangle": [
            "error",
            "only-multiline"
        ],
        "comma-spacing": [
            "error"
        ],
        "comma-style": [
            "error",
            "last"
        ],
        "computed-property-spacing": [
            "error",
            "never"
        ],
        "eol-last": [
            "error",
            "never"
        ],
        "func-call-spacing": [
            "error",
            "never"
        ],
        "key-spacing": [
            "error",
            {"beforeColon": false, "mode": "minimum"}
        ],
        "keyword-spacing": [
            "error",
            {"before": true, "after": true}
        ],
        "max-depth": [
            "error",
            5
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreComments": true,
                "ignoreUrls": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "max-statements-per-line": [
            "error",
            {"max": 2}
        ],
        "new-parens": [
            "error"
        ],
        "padding-line-between-statements": [
            "error",
            {"blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
            {"blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
        ],
        "newline-before-return": [
            "error"
        ],
        "no-array-constructor": [
            "error"
        ],
        "no-lonely-if": [
            "error"
        ],
        "no-mixed-spaces-and-tabs": [
            "error"
        ],
        "no-multi-assign": [
            "error"
        ],
        "no-multiple-empty-lines": [
            "error"
        ],
        "no-nested-ternary": [
            "error"
        ],
        "no-new-object": [
            "error"
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "no-underscore-dangle": [
            "error",
            {"allow": ["_id", "_listeners"]}
        ],
        "no-unneeded-ternary": [
            "error"
        ],
        "no-whitespace-before-property": [
            "error"
        ],
        "object-curly-newline": [
            "error",
            {"multiline": true}
        ],
        "object-curly-spacing": [
            "error",
            "never"
        ],
        "object-property-newline": [
            "error"
        ],
        "operator-linebreak": [
            "error",
            "before"
        ],
        "padded-blocks": [
            "error",
            "never"
        ],
        "require-jsdoc": [
            "error",
            {"require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true,
                "ArrowFunctionExpression": true
            }}
        ],
        "semi-spacing": [
            "error",
            {"before": false, "after": true}
        ],
        "space-before-blocks": [
            "error",
            "always"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-in-parens": [
            "error",
            "never"
        ],
        "space-infix-ops": [
            "error"
        ],
        "wrap-regex": [
            "error"
        ],
        "valid-jsdoc": [
            "error",
            {"requireReturn": false,
            "matchDescription": ".+"}
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "block-scoped-var": [
            "error"
        ],
        "complexity": [
            "warn",
            20
        ],
        "consistent-return": [
            "error"
        ],
        "curly": [
            "error"
        ],
        "default-case": [
            "warn"
        ],
        "eqeqeq": [
            "error",
            "always"
        ],
        "no-alert": [
            "error"
        ],
        "no-console": [
            "warn"
        ],
        "no-else-return": [
            "error"
        ],
        "no-empty-function": [
            "error"
        ],
        "no-eval": [
            "error"
        ],
        "no-extend-native": [
            "error"
        ],
        "no-fallthrough": [
            "error"
        ],
        "no-global-assign": [
            "error"
        ],
        "no-implicit-coercion": [
            "error"
        ],
        "no-implied-eval": [
            "error"
        ],
        "no-labels": [
            "error"
        ],
        "no-lone-blocks": [
            "error"
        ],
        "no-loop-func": [
            "error"
        ],
        "no-magic-numbers": [
            "error",
            { "ignoreArrayIndexes": true }
        ],
        "no-multi-spaces": [
            "error"
        ],
        "no-multi-str": [
            "error"
        ],
        "no-new-func": [
            "error"
        ],
        "no-new-wrappers": [
            "error"
        ],
        "no-new": [
            "error"
        ],
        "no-octal-escape": [
            "error"
        ],
        "no-octal": [
            "error"
        ],
        "no-param-reassign": [
            "error"
        ],
        "no-return-assign": [
            "error"
        ],
        "no-return-await": [
            "error"
        ],
        "no-script-url": [
            "error"
        ],
        "no-self-assign": [
            "error",
            {"props": true}
        ],
        "no-self-compare": [
            "error"
        ],
        "no-sequences": [
            "error"
        ],
        "no-throw-literal": [
            "error"
        ],
        "no-unmodified-loop-condition": [
            "error"
        ],
        "no-useless-concat": [
            "error"
        ],
        "no-useless-escape": [
            "error"
        ],
        "no-useless-return": [
            "error"
        ],
        "no-void": [
            "error"
        ],
        "no-with": [
            "error"
        ],
        "radix": [
            "error"
        ],
        "vars-on-top": [
            "error"
        ],
        "strict": [
            "warn"
        ],
        "no-catch-shadow": [
            "error"
        ],
        "no-delete-var": [
           "error"
        ],
        "no-undef": [
            "error"
        ],
        "no-undefined": [
            "error"
        ],
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "argsIgnorePattern": "^e$",
                "ignoreRestSiblings": true,
                "caughtErrors": "none"
            }
        ],
        "no-use-before-define": [
            "error",
            {"functions": false, "classes": false, "variables": true}
        ],
        "react/jsx-filename-extension": "true"
    }
  }